div{

   display: flex ;
   align-items: center;
   justify-items: center;
   justify-content: center;
   border: 3px solid;
   border-color: black;
   width: 320px;
   height: 320px;
   border-radius: 13px;
  
   
}

body{
   display: flex ;
   flex-direction: column;
   align-items: center;
   justify-items: center;
   justify-content: center;         
}

.form-input{
 margin-top: 10px;
  width: 100%;
  height: 20px;
}

.form-text {
  width: 10%;               
  height: 10px;              
  padding: 6px 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 6px;
  resize: vertical;
  box-sizing: border-box;    
}

form{
position: relative;         
width: 250px;
height: 250px;
border: 1px solid;
border-color: black;
border-radius: 10px;
display: flex ;
flex-direction: column;
align-items: start;
justify-items: center;
justify-content: center;    
padding: 20px;
margin-top: auto;     
}


.submit{
 position: absolute;
 bottom: -10px; 
 left: 30%;
 width: 100px;
 height: 20px;
 background-color: black;
 color: white;
 border : 1px solid;
 border-radius: 10px;
}
.home{
   margin: 5px;
}